body {
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button, span {
  text-decoration: none;
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6, p, a, button, textarea{
  color: #262626;
}

h1 {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 65px;
  color: #C4C4C4;
}

h2 {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 24px;
  color: #C4C4C4;
}

h3{
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 65px;
  color: #C4C4C4;
}

h4{
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 41px;
  color: #C4C4C4;
}

h5{
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 41px;
}


@media only screen and (max-width: 425px) {
  h1{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 120%;
    color: #C4C4C4;
  }

  h2{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: #C4C4C4;
  }

  h3{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 120%;
    color: #C4C4C4;

  }

  h4{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 41px;
    color: #C4C4C4;
  }

  h5{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
  }
}


/*SWIPER*/

.swiper-button-prev, .swiper-button-next {
  outline: 0;
  top: auto;
  bottom: 24px !important;
  height: 45px;
  width: 45px;
  padding: 6px;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

@media (max-width: 700px) {
  .swiper-button-prev, .swiper-button-next {
    bottom: 15px !important;
    height: 30px;
    width: 30px;
    padding: 2px;
  }
}

.swiper-button-prev:active, .swiper-button-next:active {
  outline: 0;
  background: #9ACD52;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 16px;
  font-weight: bold;
  color: #262626;
}

@media (max-width: 700px) {
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 12px;
  }
}

.swiper-button-next {
  right: 5% !important;
}

.swiper-button-prev {
  left: auto;
  right: 10% !important;
}

@media (max-width: 1200px) {
  .swiper-button-prev {
    left: auto;
    right: 14% !important;
  }
}

.swiper-pagination {
  bottom: 40px !important;
  left: 60px !important;
  width: auto !important;
}

@media (min-width: 1450px) {
  .swiper-pagination {
    bottom: 40px !important;
    left: 150px !important;
  }
}

@media (max-width: 1200px) {
  .swiper-pagination {
    bottom: 30px !important;
    left: 28px !important;
  }
}

@media (max-width: 700px) {
  .swiper-pagination {
    bottom: 15px !important;
    left: 15px !important;
  }
}

.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  opacity: 1 !important;
  background-color: #FFF;
  border: 1px solid #76BC2F;
}

.swiper-pagination-bullet-active {
  outline: 0;
  border: none;
  background: #76BC2F;
  width: 14px !important;
  height: 14px !important;
}

.swiper-pagination-bullet-active:after {
  outline: 0;
}

.swiper-container {
  margin-bottom: 20px;
  height: 610px !important;
}

